*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Onest';
}
svg {
    fill: rgb(43, 39, 39);
}
.main_out_container{
    padding: 10vh 10vh 0 10vh;
    background-color: #fffae4;
}
.main_container{
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid black;
    /* height: 100vh; */
    background-color: #fffef9;
}
header{
    display: flex;
    /* justify-content: space-around; */
    /* width: 96vw;
    margin-left: 2vw;
    margin-top: 2vw; */
    height: 13vh;
    background-color: #fffef9;
}
.main_afterheader{
    margin-top: 2vw;
    height: 5vh;
    background-color: #fffef9;
    width: 100%;
    border-bottom:2px solid rgb(191, 191, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9vw;
    padding-bottom: 2vh;
}
.main_afterheader__item{
    font-size: 1.25rem;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    transition: all .2s;
}
.main_header_left{
    padding-left: 50px;
    width: 50vw;
    font-size: 4rem;
    text-align: center;
    align-items: center;
    color: rgb(43, 39, 39);
    display: flex;
    justify-content: flex-start;
}
.main_header_right{
    gap: 3vw;
    width: 50vw;
    font-size: 3rem;
    align-items: center;
    text-align: center;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}
.main_header__img{
    width: 3rem;
    height: 3rem;
}
.main_main_body{
    /* margin-left: 2vw;
    margin-right: 2vw; */
    /* width: 96vw;
    display: grid;
    grid-template-columns: 32vw 64vw; */
}
.main_part1{
    display: flex;
    flex-direction: column;
}
.main_header__img_logo{
    height: 4.5rem;
    width: auto;
}
.main_post{
    margin-top: 2vw;
    /* width: 66%; */
    padding-left: 17%;
    padding-right: 17%;
    /* border-bottom: 1px solid rgb(43, 39, 39); */
    padding-bottom: 2vw;
}
.main_profile__img{
    height: 2.5rem;
    width: 2.5rem;
}
.main_post__userinfo{
    font-size: 1rem;
    /* color: #fefefe; */
    display: flex;
    gap: 20px;
    justify-content: start;
}
.main_post__username{
    /* width: 100%; */
    font-weight: 600;
}
.main_post__user__miniinf{
    color: rgb(108, 108, 108);
    gap: 20px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}
.main_post__title{
    margin-top: 1rem;
    font-size: 2rem;
}
.main_post__text{
    width: 100%;
    margin-top: 1rem;
    text-align: justify;
}
.main_reactions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 2%;
    gap: 5vw;
}
.main_reaction{
    width: 2rem;
    height:auto ;
}
.main_bottom__panel{
    border-top: 2px solid rgb(191, 191, 191);
    background-color: #f2f2f0;
    padding-top: 1vh;
    box-sizing: border-box;
    position: fixed;
    right: 10vh;
    left: 10vh;
    gap: 7vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main_plus__img{
    width: 3rem;
    height: 3rem;
}
.main_bottom__img{
    width: 2rem;
    height: 2rem;
}

.main_afterheader__item:hover{
    border-bottom: 3px solid rgb(43, 39, 39);
}
.main_heart-svg {
      width: 120px;
      cursor: pointer;
      display: inline-block;
    }


.main_likes_count{
    font-size: 1.2rem;
    color: #F5AF8B;
}
.main_likes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
} 