*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Onest';
    box-sizing: border-box;
}
svg {
    fill: rgb(43, 39, 39);
}

header {
    display: flex;
        height: 13vh;
    justify-content: center;
    background-color: #fffef9;
    border-bottom: 2px solid rgb(191, 191, 191);
}

.outOfBody {
    padding: 5vh 10vh 0 10vh;
    background-color: #fffae4;
}

.Body {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 100vh;
    background-color: #fffef9;
}

/*shatal ya togo rot, ebanie vi vse tvari*/

.ZagolovokBlyat {
    font-size: 4rem;
    margin: 1rem;
}

.EbanayaStrelka {
    width: 10rem;
    height: 10rem;
}